.logo_text{
    color: lightgreen;
    text-align: center;
}

.first{
    color: lightgreen;
    text-align: center;
    margin-top: 100px;
}

.first a{
    color: lightgreen;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p{
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

.sidebar {
    float: left;
    width: 100px;
    height: 100px;
    padding: 5%;
    border: solid 1px #f2f2f2;
    background-color: #f9f9f9;
}

footer {
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;
    color: lightgreen;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 450px;
    min-width: 900px;
}