#snake-fields{
    display: inline-block;
}

#snake-renew, #snake-start{
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}

td.game-table-cell{
    width: 15.5px;
    height: 15px;
    border: 1px dotted #eee;
}

.snake-unit{
    background-color: white;
}

.food-unit{
    background-color: red;
}

.buttons{
    display: flex;
    margin: 3px auto 0;
}

.wrap{
    margin: 30px auto 0;
    text-align: center;
}

.info{
    text-align: center;
}